## ML PROJECTS - PLANTILLA CALIDAD DE DATOS

**IMPORTANTE**: Recuerda hacer una copia de esta plantilla para no machacar la original.

### IMPORTAR PAQUETES

In [1]:
import numpy as np
import pandas as pd
from janitor import clean_names

# Automcompletar rápido
%config IPCompleter.greedy=True

c:\Users\Usuario\miniconda3\envs\ds4b-framework\Lib\site-packages\janitor\utils.py:84: FutureWarning: PandasArray has been renamed NumpyExtensionArray. Use that instead. This alias will be removed in a future version.
  @_expand_grid.register(pd.arrays.PandasArray)

### IMPORTAR LOS DATOS

Sustituir la ruta del proyecto.

In [20]:
ruta_proyecto = "C:/Users/Usuario/Downloads/DS4B/projects/00_PROYECTO1/"

Sustituir el nombre_fichero_datos.

In [21]:
nombre_fichero_datos = 'muestra.csv'

Cargar los datos.

In [22]:
ruta_completa = ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_fichero_datos

df = pd.read_csv(ruta_completa,index_col=0)
df

,Edad,Trabajo,Estado Civil,Fomación,Impago,Prestamo hipotecario,Prestamo Personal,Canal de contacto,Mes,Dia de la semana,num contactos esta campaña,num días último contacto,num contactos otras campañas,resultado campaña anterior,variación tasa empleo,euribor3m,contrata_fondos
32528,37.0,admin.,married,university.degree,no,unknown,unknown,cellular,jun,NaN,1,10,1,success,-17,719,1
31679,27.0,technician,single,professional.course,no,no,no,cellular,jun,NaN,2,999,0,nonexistent,-17,737,0
23675,48.0,blue-collar,married,basic.9y,no,no,no,telephone,may,NaN,14,999,0,nonexistent,11,4857,0
29498,30.0,blue-collar,married,basic.4y,no,yes,no,cellular,jul,NaN,5,999,0,nonexistent,14,4962,0
36420,67.0,admin.,married,basic.4y,unknown,yes,no,cellular,jun,NaN,2,999,1,failure,-29,1262,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6782,26.0,technician,single,professional.course,no,no,no,telephone,may,NaN,3,999,0,nonexistent,11,486,0
32730,39.0,housemaid,divorced,high.school,no,no,no,cellular,nov,NaN,3,999,0,nonexistent,-1,412,0
326,33.0,technician,married,professional.course,no,yes,no,cellular,aug,NaN,2,999,0,nonexistent,14,4965,0
30989,26.0,admin.,married,basic.9y,no,yes,no,telephone,may,NaN,2,999,0,nonexistent,11,4858,0
21001,57.0,blue-collar,married,basic.4y,unknown,no,no,telephone,jun,NaN,5,999,0,nonexistent,14,4961,0

### CORRECCIÓN DE NOMBRES DE VARIABLES

**Corrección automática**

In [24]:
df = clean_names(df) # Limpieza de nombres de columnas de forma automática
df

,edad,trabajo,estado_civil,fomacion,impago,prestamo_hipotecario,prestamo_personal,canal_de_contacto,mes,dia_de_la_semana,num_contactos_esta_campana,num_dias_ultimo_contacto,num_contactos_otras_campanas,resultado_campana_anterior,variacion_tasa_empleo,euribor3m,contrata_fondos
32528,37.0,admin.,married,university.degree,no,unknown,unknown,cellular,jun,NaN,1,10,1,success,-17,719,1
31679,27.0,technician,single,professional.course,no,no,no,cellular,jun,NaN,2,999,0,nonexistent,-17,737,0
23675,48.0,blue-collar,married,basic.9y,no,no,no,telephone,may,NaN,14,999,0,nonexistent,11,4857,0
29498,30.0,blue-collar,married,basic.4y,no,yes,no,cellular,jul,NaN,5,999,0,nonexistent,14,4962,0
36420,67.0,admin.,married,basic.4y,unknown,yes,no,cellular,jun,NaN,2,999,1,failure,-29,1262,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6782,26.0,technician,single,professional.course,no,no,no,telephone,may,NaN,3,999,0,nonexistent,11,486,0
32730,39.0,housemaid,divorced,high.school,no,no,no,cellular,nov,NaN,3,999,0,nonexistent,-1,412,0
326,33.0,technician,married,professional.course,no,yes,no,cellular,aug,NaN,2,999,0,nonexistent,14,4965,0
30989,26.0,admin.,married,basic.9y,no,yes,no,telephone,may,NaN,2,999,0,nonexistent,11,4858,0
21001,57.0,blue-collar,married,basic.4y,unknown,no,no,telephone,jun,NaN,5,999,0,nonexistent,14,4961,0

**Corrección manual**

In [25]:
df.rename(columns = {'fomacion':'formacion',
                     'prestamo_hipotecario':'hipoteca',
                     'prestamo_personal':'consumo'}, inplace=True)
df

,edad,trabajo,estado_civil,formacion,impago,hipoteca,consumo,canal_de_contacto,mes,dia_de_la_semana,num_contactos_esta_campana,num_dias_ultimo_contacto,num_contactos_otras_campanas,resultado_campana_anterior,variacion_tasa_empleo,euribor3m,contrata_fondos
32528,37.0,admin.,married,university.degree,no,unknown,unknown,cellular,jun,NaN,1,10,1,success,-17,719,1
31679,27.0,technician,single,professional.course,no,no,no,cellular,jun,NaN,2,999,0,nonexistent,-17,737,0
23675,48.0,blue-collar,married,basic.9y,no,no,no,telephone,may,NaN,14,999,0,nonexistent,11,4857,0
29498,30.0,blue-collar,married,basic.4y,no,yes,no,cellular,jul,NaN,5,999,0,nonexistent,14,4962,0
36420,67.0,admin.,married,basic.4y,unknown,yes,no,cellular,jun,NaN,2,999,1,failure,-29,1262,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6782,26.0,technician,single,professional.course,no,no,no,telephone,may,NaN,3,999,0,nonexistent,11,486,0
32730,39.0,housemaid,divorced,high.school,no,no,no,cellular,nov,NaN,3,999,0,nonexistent,-1,412,0
326,33.0,technician,married,professional.course,no,yes,no,cellular,aug,NaN,2,999,0,nonexistent,14,4965,0
30989,26.0,admin.,married,basic.9y,no,yes,no,telephone,may,NaN,2,999,0,nonexistent,11,4858,0
21001,57.0,blue-collar,married,basic.4y,unknown,no,no,telephone,jun,NaN,5,999,0,nonexistent,14,4961,0

### VISIÓN GENERAL

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 32528 to 21001
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   edad                          18609 non-null  float64
 1   trabajo                       20000 non-null  object
 2   estado_civil                  20000 non-null  object
 3   formacion                     17575 non-null  object
 4   impago                        20000 non-null  object
 5   hipoteca                      20000 non-null  object
 6   consumo                       20000 non-null  object
 7   canal_de_contacto             20000 non-null  object
 8   mes                           20000 non-null  object
 9   dia_de_la_semana              1031 non-null   object
 10  num_contactos_esta_campana    20000 non-null  int64
 11  num_dias_ultimo_contacto      20000 non-null  int64
 12  num_contactos_otras_campanas  20000 non-null  int64
 13  resultado_campana_anterior    20000 non-null  object
 14  variacion_tasa_empleo         20000 non-null  int64
 15  euribor3m                     20000 non-null  int64
 16  contrata_fondos               20000 non-null  int64
dtypes: float64(1), int64(6), object(10)
memory usage: 2.7+ MB

### TIPOS DE DATOS

- Identificación

In [27]:
df.dtypes

edad                            float64
trabajo                          object
estado_civil                     object
formacion                        object
impago                           object
hipoteca                         object
consumo                          object
canal_de_contacto                object
mes                              object
dia_de_la_semana                 object
num_contactos_esta_campana        int64
num_dias_ultimo_contacto          int64
num_contactos_otras_campanas      int64
resultado_campana_anterior       object
variacion_tasa_empleo             int64
euribor3m                         int64
contrata_fondos                   int64
dtype: object

- Corrección

In [28]:
df = df.astype({'edad':'Int64',
           'euribor3m': 'float'})

df.dtypes

edad                              Int64
trabajo                          object
estado_civil                     object
formacion                        object
impago                           object
hipoteca                         object
consumo                          object
canal_de_contacto                object
mes                              object
dia_de_la_semana                 object
num_contactos_esta_campana        int64
num_dias_ultimo_contacto          int64
num_contactos_otras_campanas      int64
resultado_campana_anterior       object
variacion_tasa_empleo             int64
euribor3m                       float64
contrata_fondos                   int64
dtype: object

### VALORES ÚNICOS

- Identificación

In [29]:
df.nunique().sort_values()

contrata_fondos                   2
canal_de_contacto                 2
impago                            3
hipoteca                          3
consumo                           3
resultado_campana_anterior        3
estado_civil                      4
dia_de_la_semana                  5
num_contactos_otras_campanas      7
formacion                         8
variacion_tasa_empleo            10
mes                              10
trabajo                          12
num_dias_ultimo_contacto         27
num_contactos_esta_campana       40
edad                             77
euribor3m                       307
dtype: int64

- Corrección

In [30]:
df.drop(columns = 'canal_de_contacto', inplace = True)

### DUPLICADOS

- Identificación

In [31]:
df.duplicated().sum()

418

- Corrección

In [32]:
df.drop_duplicates(inplace = True)

### SEPARAR NUMÉRICAS Y CATEGÓRICAS

**Categóricas**

In [33]:
cat = df.select_dtypes(exclude = 'number').copy()

**Numéricas**

In [34]:
num = df.select_dtypes(include='number').copy()

### GESTIÓN DE CATEGÓRICAS

#### NULOS

Identificación

In [35]:
cat.isna().sum().sort_values(ascending = False)

dia_de_la_semana              18552
formacion                      2413
trabajo                           0
estado_civil                      0
impago                            0
hipoteca                          0
consumo                           0
mes                               0
resultado_campana_anterior        0
dtype: int64

Corrección

- Eliminar la variable

In [36]:
cat.drop(columns = 'dia_de_la_semana',inplace = True)

- Eliminar registros

*Cuidado: Si se eliminan registros hay que eliminarlos tanto de cat como de num*

In [37]:
criterio = 3
cat.dropna(thresh=criterio, inplace=True)
num.dropna(thresh=criterio, inplace=True)

- Imputar por un valor

Variables a imputar

In [38]:
# var_imputar_valor = ['resultado_campana_anterior','formacion']

Valor por el que imputar

In [39]:
valor = 'NULO'

- Imputar

In [40]:
# cat[var_imputar_valor] = cat[var_imputar_valor].fillna(valor)

- Imputar por la moda

Variables a imputar

In [41]:
var_imputar_moda = ['resultado_campana_anterior','formacion']

Funcion para imputar con la moda

In [42]:
def imputar_moda(variable):
    return(variable.fillna(variable.mode()[0]))

Imputar con la moda

In [43]:
cat[var_imputar_moda] = cat[var_imputar_moda].apply(imputar_moda)

### ATÍPICOS

- Categorías poco frecuentes

Función para agrupar categorías raras en 'OTROS'

In [44]:
def agrupar_cat_raras(variable, criterio = 0.05):
    # Calcula las frecuencias
    frecuencias = variable.value_counts(normalize=True)
    # Identifica las que están por debajo del criterio
    temp = [cada for cada in frecuencias.loc[frecuencias < criterio].index.values]
    # Las recodifica en 'OTROS'
    temp2 = np.where(variable.isin(temp),'OTROS',variable)
    # Devuelve el resultado
    return(temp2)

Variables a imputar

In [45]:
var_imputar_moda = ['trabajo','estado_civil']

Aplicar

In [46]:
for variable in var_imputar_moda:
    cat[variable] = agrupar_cat_raras(cat[variable],criterio = 0.02)

### GESTIÓN DE NUMÉRICAS

#### NULOS

Identificación

In [47]:
num.isna().sum().sort_values(ascending = False)

edad                            1356
num_contactos_esta_campana         0
num_dias_ultimo_contacto           0
num_contactos_otras_campanas       0
variacion_tasa_empleo              0
euribor3m                          0
contrata_fondos                    0
dtype: int64

Corrección

- Eliminar la variable

In [48]:
num.drop(columns = 'num_contactos_otras_campanas',inplace = True)

- Eliminar registros

*Cuidado: Si se eliminan registros hay que eliminarlos tanto de cat como de num*

In [49]:
criterio = 3
cat.dropna(thresh=criterio, inplace=True)
num.dropna(thresh=criterio, inplace=True)

- Imputar por la media

Variables a imputar

In [50]:
var_imputar_media = ['edad','num_contactos_esta_campana']

Funcion para imputar con la media

In [51]:
def imputar_media(variable):
    if pd.api.types.is_integer_dtype(variable):
        return(variable.fillna(int(variable.mean())))
    else:
        return(variable.fillna(variable.mean()))

- Imputar con la media

In [52]:
# num[var_imputar_media] = num[var_imputar_media].apply(imputar_media)

- Imputar por la mediana

Variables a imputar

In [53]:
var_imputar_mediana = ['edad','num_contactos_esta_campana']

Funcion para imputar con la mediana

In [54]:
def imputar_mediana(variable):
    if pd.api.types.is_integer_dtype(variable):
        return(variable.fillna(int(variable.median())))
    else:
        return(variable.fillna(variable.median()))

- Imputar con la mediana

In [55]:
num[var_imputar_mediana] = num[var_imputar_mediana].apply(imputar_mediana)

### ATÍPICOS

**Por desviación típica**

- Identificación

Definir el número de desviaciones típicas

In [56]:
num_desv_tip = 4

Función que devuelve los índices de los atípicos

In [57]:
def atipicos_desv_tip(variable, num_desv_tip = 4):
    #sacamos los nulos por ahora
    variable = variable.dropna()
    #calculamos los límites
    media = np.mean(variable)
    sd = np.std(variable)
    umbral = sd * num_desv_tip
    lim_inf = media - umbral
    lim_sup = media + umbral
    #encontramos los índices de los que están fuera de los límites
    indices = [indice for indice,valor in variable.items() if valor < lim_inf or valor > lim_sup]
    return(indices)

Función que cuenta el número de atípicos

In [58]:
def conteo_atipicos(df,variable, num_desv_tip = 4):
    atipicos = atipicos_desv_tip(df[variable], num_desv_tip)
    return(df.loc[atipicos,variable].value_counts())

Variables a aplicar

In [59]:
var_atipicos_dt = ['edad','num_contactos_esta_campana']

Aplicar

In [60]:
for variable in var_atipicos_dt:
    print('\n' + variable + ':\n')
    print(conteo_atipicos(num,variable,num_desv_tip))

edad:

edad
81    12
88    11
83     7
82     7
84     4
85     3
86     3
91     2
95     1
94     1
92     1
87     1
89     1
Name: count, dtype: Int64

num_contactos_esta_campana:

num_contactos_esta_campana
15    28
17    27
16    24
20    21
19    15
21    14
18    13
22    10
24     9
23     7
25     6
26     6
29     6
27     5
28     4
33     3
34     3
43     2
42     2
32     2
30     2
35     2
31     1
37     1
40     1
39     1
Name: count, dtype: int64

- Corrección

Eliminar los registros que tengan al menos un atípico en alguna de las variables indicadas.

*Cuidado: Si se eliminan registros hay que eliminarlos tanto de cat como de num*

Variables a aplicar

In [61]:
var_atipicos_dt = ['edad','num_contactos_esta_campana']

Aplicar

In [62]:
for variable in var_atipicos_dt:
    cat.drop(atipicos_desv_tip(num[variable], num_desv_tip),axis = 0, inplace = True)
    num.drop(atipicos_desv_tip(num[variable], num_desv_tip),axis = 0, inplace = True)

**Por winsorización manual para una variable**

- Identificación

Variable a analizar

In [63]:
variable = 'variacion_tasa_empleo'

Comprobar el mínimo y máximo actual

In [64]:
num[variable].describe().loc[['min','max']]

min   -34.0
max    14.0
Name: variacion_tasa_empleo, dtype: float64

- Corrección

Definir el mínimo y máximo tolerable.

In [65]:
minimo = -20
maximo = 10

Aplicar

In [66]:
num[variable].clip(minimo,maximo, inplace=True)

**Por winsorización automática para múltiples variables**

Variables a winsorizar

In [67]:
var_winsorizar = ['edad','num_contactos_esta_campana']

Definir los percentiles mínimos y máximos.

In [68]:
p_min = 0.01
p_max = 0.99

Aplicar

In [69]:
for variable in var_winsorizar:
    num[variable].clip(lower = num[variable].quantile(p_min), 
                       upper = num[variable].quantile(p_max), 
                       inplace = True)

### GUARDAR DATASETS TRAS CALIDAD DE DATOS

Guarda los avances en df, cat y num con un sufijo para poder guardar o recuperar avances del proyecto.

En formato pickle para no perder las modificaciones de metadatos.

- Definir los nombres de los archivos

In [70]:
ruta_trabajo = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'trabajo_resultado_calidad.pickle'
ruta_cat = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'cat_resultado_calidad.pickle'
ruta_num = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'num_resultado_calidad.pickle'

- Guardar los archivos

In [71]:
df.to_pickle(ruta_trabajo)
cat.to_pickle(ruta_cat)
num.to_pickle(ruta_num)